/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,500;0,600;1,400&display=swap");
/* line 6, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
/* line 28, ../sass/_reset.scss */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
/* line 33, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 38, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 42, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 46, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 50, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 56, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 61, ../sass/_reset.scss */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* line 69, ../sass/_reset.scss */
input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 77, ../sass/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 87, ../sass/_reset.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 101, ../sass/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
/* line 111, ../sass/_reset.scss */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 122, ../sass/_reset.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 132, ../sass/_reset.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 140, ../sass/_reset.scss */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
/* line 150, ../sass/_reset.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
/* line 159, ../sass/_reset.scss */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 167, ../sass/_reset.scss */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 175, ../sass/_reset.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 187, ../sass/_reset.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
/* line 201, ../sass/_reset.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 216, ../sass/_reset.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 228, ../sass/_reset.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 243, ../sass/_reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 256, ../sass/_reset.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 268, ../sass/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 282, ../sass/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 294, ../sass/_reset.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
/* line 303, ../sass/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 314, ../sass/_reset.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
/* line 323, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 328, ../sass/_reset.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 337, ../sass/_reset.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 342, ../sass/_reset.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 347, ../sass/_reset.scss */
img {
  vertical-align: middle;
}

/* line 351, ../sass/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 357, ../sass/_reset.scss */
textarea {
  resize: vertical;
}

/* line 361, ../sass/_reset.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 3, ../sass/style.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* line 12, ../sass/_grid.scss */
.row {
  margin-bottom: 15px;
}
/* line 5, ../sass/_grid.scss */
.row::after {
  clear: both;
  display: block;
  content: '';
}

/* line 18, ../sass/_grid.scss */
.col {
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 25, ../sass/_grid.scss */
.col1 {
  width: 8.3333333333%;
}

/* line 25, ../sass/_grid.scss */
.col2 {
  width: 16.6666666667%;
}

/* line 25, ../sass/_grid.scss */
.col3 {
  width: 25%;
}

/* line 25, ../sass/_grid.scss */
.col4 {
  width: 33.3333333333%;
}

/* line 25, ../sass/_grid.scss */
.col5 {
  width: 41.6666666667%;
}

/* line 25, ../sass/_grid.scss */
.col6 {
  width: 50%;
}

/* line 25, ../sass/_grid.scss */
.col7 {
  width: 58.3333333333%;
}

/* line 25, ../sass/_grid.scss */
.col8 {
  width: 66.6666666667%;
}

/* line 25, ../sass/_grid.scss */
.col9 {
  width: 75%;
}

/* line 25, ../sass/_grid.scss */
.col10 {
  width: 83.3333333333%;
}

/* line 25, ../sass/_grid.scss */
.col11 {
  width: 91.6666666667%;
}

/* line 25, ../sass/_grid.scss */
.col12 {
  width: 100%;
}

@media (min-width: 600px) {
  /* line 32, ../sass/_grid.scss */
  .colM1 {
    width: 8.3333333333%;
  }

  /* line 32, ../sass/_grid.scss */
  .colM2 {
    width: 16.6666666667%;
  }

  /* line 32, ../sass/_grid.scss */
  .colM3 {
    width: 25%;
  }

  /* line 32, ../sass/_grid.scss */
  .colM4 {
    width: 33.3333333333%;
  }

  /* line 32, ../sass/_grid.scss */
  .colM5 {
    width: 41.6666666667%;
  }

  /* line 32, ../sass/_grid.scss */
  .colM6 {
    width: 50%;
  }

  /* line 32, ../sass/_grid.scss */
  .colM7 {
    width: 58.3333333333%;
  }

  /* line 32, ../sass/_grid.scss */
  .colM8 {
    width: 66.6666666667%;
  }

  /* line 32, ../sass/_grid.scss */
  .colM9 {
    width: 75%;
  }

  /* line 32, ../sass/_grid.scss */
  .colM10 {
    width: 83.3333333333%;
  }

  /* line 32, ../sass/_grid.scss */
  .colM11 {
    width: 91.6666666667%;
  }

  /* line 32, ../sass/_grid.scss */
  .colM12 {
    width: 100%;
  }
}
@media (min-width: 900px) {
  /* line 40, ../sass/_grid.scss */
  .colL1 {
    width: 8.3333333333%;
  }

  /* line 40, ../sass/_grid.scss */
  .colL2 {
    width: 16.6666666667%;
  }

  /* line 40, ../sass/_grid.scss */
  .colL3 {
    width: 25%;
  }

  /* line 40, ../sass/_grid.scss */
  .colL4 {
    width: 33.3333333333%;
  }

  /* line 40, ../sass/_grid.scss */
  .colL5 {
    width: 41.6666666667%;
  }

  /* line 40, ../sass/_grid.scss */
  .colL6 {
    width: 50%;
  }

  /* line 40, ../sass/_grid.scss */
  .colL7 {
    width: 58.3333333333%;
  }

  /* line 40, ../sass/_grid.scss */
  .colL8 {
    width: 66.6666666667%;
  }

  /* line 40, ../sass/_grid.scss */
  .colL9 {
    width: 75%;
  }

  /* line 40, ../sass/_grid.scss */
  .colL10 {
    width: 83.3333333333%;
  }

  /* line 40, ../sass/_grid.scss */
  .colL11 {
    width: 91.6666666667%;
  }

  /* line 40, ../sass/_grid.scss */
  .colL12 {
    width: 100%;
  }
}
/* line 1, ../sass/_nav.scss */
.navbar {
  padding: 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10000;
}

/* line 9, ../sass/_nav.scss */
.navContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0;
}

/* line 18, ../sass/_nav.scss */
.navLogo {
  width: 230px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8px;
}

/* line 24, ../sass/_nav.scss */
.headerImg {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

/* line 29, ../sass/_nav.scss */
.navList {
  display: none;
  width: 100%;
  text-align: center;
  padding: 20px;
}

/* line 36, ../sass/_nav.scss */
.listItem {
  padding: 20px;
  font-size: 20px;
  color: #FFCA08;
}

/* line 42, ../sass/_nav.scss */
.listItemOpp {
  padding: 20px;
  font-size: 20px;
  color: #1F262E;
  background-color: #FFCA08 !important;
}

/* line 49, ../sass/_nav.scss */
.navIcon {
  color: #FFCA08;
  font-size: 18px;
}

/* line 54, ../sass/_nav.scss */
.navButton {
  color: #FFCA08;
  font-size: 20px;
}

/* line 59, ../sass/_nav.scss */
.navFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 10px;
}

/* line 68, ../sass/_nav.scss */
.waiterButton {
  display: none;
  color: #FFCA08;
  font-size: 20px;
  float: left;
}

/* line 75, ../sass/_nav.scss */
.viewOrder {
  display: none;
  width: 100%;
}

/* line 80, ../sass/_nav.scss */
.orderTitle {
  color: #FFCA08;
  font-size: 24px;
  padding: 10px 10px 0 20px;
}

/* line 86, ../sass/_nav.scss */
.orderItemTitle {
  font-size: 14px;
  padding-top: 10px;
}

/* line 91, ../sass/_nav.scss */
.orderItem {
  font-size: 12px;
}

/* line 95, ../sass/_nav.scss */
.orderTotal {
  font-size: 14px;
  padding: 10px;
  text-align: right;
}

/* line 101, ../sass/_nav.scss */
.orderSection {
  width: 100%;
  padding: 10px 10px 0 10px;
  background-color: #FEFFFF;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-left: 20px solid #1F262E;
  border-right: 20px solid #1F262E;
  border-top: 10px solid #1F262E;
}

/* line 112, ../sass/_nav.scss */
.displayFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 116, ../sass/_nav.scss */
.placeOrderButton {
  background-color: #FFCA08;
  color: #1F262E;
  width: 145px;
  padding: 10px;
}

/* line 123, ../sass/_nav.scss */
.placeOrderFlex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 128, ../sass/_nav.scss */
.orderCloseButtonStyle {
  width: 100% !important;
  padding: 10px;
  font-size: 20px;
  background-color: #FFCA08;
  color: #1F262E;
}

/* line 136, ../sass/_nav.scss */
.orderCloseButton {
  text-align: center;
  padding: 20px;
}

/* line 141, ../sass/_nav.scss */
.listStyle {
  text-decoration: none;
}
/* line 143, ../sass/_nav.scss */
.listStyle:link {
  color: #FFCA08;
}
/* line 146, ../sass/_nav.scss */
.listStyle:visited {
  color: #FFCA08;
}
/* line 149, ../sass/_nav.scss */
.listStyle:active {
  color: #FFCA08;
}

/* line 154, ../sass/_nav.scss */
.orderButtonsStyle {
  text-decoration: none;
}
/* line 156, ../sass/_nav.scss */
.orderButtonsStyle:link {
  color: #1F262E;
}
/* line 159, ../sass/_nav.scss */
.orderButtonsStyle:visited {
  color: #1F262E;
}
/* line 162, ../sass/_nav.scss */
.orderButtonsStyle:active {
  color: #1F262E;
}

@media screen and (min-width: 600px) {
  /* line 169, ../sass/_nav.scss */
  .navLogo {
    width: 300px;
  }

  /* line 173, ../sass/_nav.scss */
  .listItem {
    font-size: 24px;
  }

  /* line 177, ../sass/_nav.scss */
  .listItemOpp {
    font-size: 24px;
  }

  /* line 181, ../sass/_nav.scss */
  .navButton {
    font-size: 24px;
  }

  /* line 185, ../sass/_nav.scss */
  .navIcon {
    font-size: 22px;
  }
}
@media screen and (min-width: 900px) {
  /* line 193, ../sass/_nav.scss */
  .waiterButton {
    display: block;
    font-size: 24px;
  }

  /* line 198, ../sass/_nav.scss */
  .navIcon {
    display: none;
  }

  /* line 202, ../sass/_nav.scss */
  .navList {
    display: block !important;
    background-color: #FEFFFF !important;
    width: 80%;
  }
  /* line 206, ../sass/_nav.scss */
  .navList ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  /* line 209, ../sass/_nav.scss */
  .navList ul .listItem {
    color: #1F262E !important;
    font-size: 24px;
    padding: 5px 0 5px 0;
  }

  /* line 216, ../sass/_nav.scss */
  .listStyle {
    text-decoration: none;
  }
  /* line 218, ../sass/_nav.scss */
  .listStyle:link {
    color: black;
  }
  /* line 221, ../sass/_nav.scss */
  .listStyle:visited {
    color: black;
  }
  /* line 224, ../sass/_nav.scss */
  .listStyle:hover {
    color: #FFCA08;
    text-decoration: underline;
  }
  /* line 228, ../sass/_nav.scss */
  .listStyle:active {
    color: black;
  }

  /* line 233, ../sass/_nav.scss */
  #closeButton {
    display: none;
  }

  /* line 237, ../sass/_nav.scss */
  .waiterMenu {
    display: none;
  }

  /* line 241, ../sass/_nav.scss */
  .navbar {
    position: relative;
  }

  /* line 245, ../sass/_nav.scss */
  #navButtons {
    position: fixed;
    bottom: 0;
  }

  /* line 250, ../sass/_nav.scss */
  .navLogo {
    width: 325px;
  }

  /* line 254, ../sass/_nav.scss */
  .navButton {
    font-size: 24px;
  }

  /* line 258, ../sass/_nav.scss */
  .viewOrder {
    display: none;
    width: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
  }

  /* line 266, ../sass/_nav.scss */
  .orderTitle {
    font-size: 28px;
  }

  /* line 270, ../sass/_nav.scss */
  .orderItemTitle {
    font-size: 18px;
  }

  /* line 274, ../sass/_nav.scss */
  .orderItem {
    font-size: 16px;
  }

  /* line 278, ../sass/_nav.scss */
  .orderTotal {
    font-size: 18px;
  }

  /* line 282, ../sass/_nav.scss */
  .placeOrderButton {
    width: 175px;
    padding: 15px;
  }

  /* line 287, ../sass/_nav.scss */
  .orderCloseButtonStyle {
    font-size: 20px;
  }
}
/* line 7, ../sass/_modals.scss */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 19, ../sass/_modals.scss */
.hidden {
  display: none;
}

/* line 23, ../sass/_modals.scss */
.borderTop {
  border-top: 25px solid #1F262E;
}

/* line 27, ../sass/_modals.scss */
.noScroll {
  overflow-y: hidden;
}

/* line 31, ../sass/_modals.scss */
.modalClose {
  color: #FFCA08;
  font-size: 20px;
  top: 0 !important;
  right: 0 !important;
  position: absolute !important;
  padding: 10px;
}

/* line 40, ../sass/_modals.scss */
.modalWaiter {
  background-color: #1F262E;
  padding: 20px;
  text-align: center;
  width: 250px;
  height: 150px;
  color: #FFCA08;
  font-size: 28px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-left: 25px solid #1F262E;
}

/* line 52, ../sass/_modals.scss */
.modalAddOrder {
  background-color: #1F262E;
  padding: 20px;
  text-align: center;
  width: 300px;
  height: 475px;
  color: #FFCA08;
  font-size: 28px;
  position: relative;
}

/* line 61, ../sass/_modals.scss */
.modalAddOrder2 {
  background-color: #1F262E;
  padding: 20px;
  text-align: center;
  width: 300px;
  height: 350px;
  color: #FFCA08;
  font-size: 28px;
  position: relative;
}

/* line 70, ../sass/_modals.scss */
.paddingBot {
  padding-bottom: 10px;
}

/* line 74, ../sass/_modals.scss */
.modalOrderBox1 {
  width: 250px;
  height: 75px;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}

/* line 82, ../sass/_modals.scss */
.modalOrderBox2 {
  width: 250px;
  height: 180px;
  font-size: 16px;
  margin-bottom: 20px;
}

/* line 89, ../sass/_modals.scss */
.addOrderButton {
  background-color: #FFCA08;
  color: #1F262E;
  width: 145px;
  padding: 10px;
  font-size: 16px;
}

/* line 97, ../sass/_modals.scss */
.addOrderFlex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

/* line 102, ../sass/_modals.scss */
.addToOrderStyle {
  text-decoration: none;
}
/* line 104, ../sass/_modals.scss */
.addToOrderStyle:link {
  color: #1F262E;
}
/* line 107, ../sass/_modals.scss */
.addToOrderStyle:visited {
  color: #1F262E;
}
/* line 110, ../sass/_modals.scss */
.addToOrderStyle:active {
  color: #1F262E;
}

/* line 115, ../sass/_modals.scss */
.closeOrderPlacedButton {
  background-color: #FFCA08;
  color: #1F262E;
  width: 145px;
  padding: 10px;
  font-size: 16px;
}

/* line 123, ../sass/_modals.scss */
.closeOrderPlacedFlex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

/* line 128, ../sass/_modals.scss */
.closeOrderPlacedStyle {
  text-decoration: none;
}
/* line 130, ../sass/_modals.scss */
.closeOrderPlacedStyle:link {
  color: #1F262E;
}
/* line 133, ../sass/_modals.scss */
.closeOrderPlacedStyle:visited {
  color: #1F262E;
}
/* line 136, ../sass/_modals.scss */
.closeOrderPlacedStyle:active {
  color: #1F262E;
}

@media screen and (min-width: 600px) {
  /* line 144, ../sass/_modals.scss */
  .modalWaiter {
    width: 350px;
    height: 200px;
    font-size: 36px;
    border-left: 55px solid #1F262E;
  }

  /* line 151, ../sass/_modals.scss */
  .borderTop {
    border-top: 45px solid #1F262E;
  }

  /* line 155, ../sass/_modals.scss */
  .modalClose {
    font-size: 28px;
    padding: 20px;
  }
}
@media screen and (min-width: 900px) {
  /* line 163, ../sass/_modals.scss */
  .displayNone {
    display: none;
  }
}
/* line 15, ../sass/style.scss */
body {
  background-color: #FFCA08;
  margin-bottom: 75px;
}

/* line 20, ../sass/style.scss */
.fontSmB {
  font-family: 'Libre Franklin';
  font-weight: 600;
}

/* line 25, ../sass/style.scss */
.fontMd {
  font-family: 'Libre Franklin';
  font-weight: 500;
}

/* line 30, ../sass/style.scss */
.fontReg {
  font-family: 'Libre Franklin';
  font-weight: 400;
}

/* line 35, ../sass/style.scss */
.fontRegIt {
  font-family: 'Libre Franklin';
  font-weight: 400;
  font-style: italic;
}

/* line 41, ../sass/style.scss */
.textYellow {
  color: #FFCA08;
}

/* line 45, ../sass/style.scss */
.textBlue {
  color: #1F262E;
}

/* line 49, ../sass/style.scss */
.textYellow {
  color: black;
}

/* line 53, ../sass/style.scss */
.banner {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../images/background.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/background.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 66, ../sass/style.scss */
.container {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 75, ../sass/style.scss */
.logoFull {
  width: 200px;
}

/* line 79, ../sass/style.scss */
.bgBlue {
  background-color: #1F262E;
}

/* line 83, ../sass/style.scss */
.bgYellow {
  background-color: #FFCA08;
}

/* line 87, ../sass/style.scss */
.bgWhite {
  background-color: #FEFFFF;
}

/* line 91, ../sass/style.scss */
.buttonLg {
  display: inline-block;
  color: #FFCA08;
  padding: 25px;
  margin-top: 50px;
  width: 270px;
  height: auto;
  text-decoration: none;
  border-radius: 5px;
  font-size: 26px;
}

/* line 103, ../sass/style.scss */
.buttonSm {
  display: inline-block;
  color: #1F262E;
  padding: 7px;
  margin-top: 50px;
  width: 190px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 20px;
}

/* line 114, ../sass/style.scss */
.textCenter {
  text-align: center;
}

/* line 118, ../sass/style.scss */
.helpIcon {
  font-size: 25px;
  text-align: left;
  padding-right: 5px;
}

/* line 124, ../sass/style.scss */
.buttonRow {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* line 128, ../sass/style.scss */
.headingsBar {
  background-color: #FFCA08;
  color: black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

/* line 135, ../sass/style.scss */
.pageHeadings {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 140, ../sass/style.scss */
.pageTitle {
  font-size: 32px;
  background-color: #FEFFFF;
  width: 65%;
  padding: 8px;
}

/* line 147, ../sass/style.scss */
.dietTitle {
  font-size: 16px;
  padding: 8px;
}

/* line 152, ../sass/style.scss */
.menuSection {
  width: 100%;
  padding: 10px 10px 0 10px;
  background-color: #FEFFFF;
  color: #1F262E;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-left: 30px solid #FFCA08;
  border-right: 30px solid #FFCA08;
}

/* line 163, ../sass/style.scss */
.menuTitle {
  font-size: 20px;
  padding: 10px 10px 10px 0;
}

/* line 168, ../sass/style.scss */
.menuItem {
  font-size: 12px;
  padding: 0 24px 20px 0;
}

/* line 173, ../sass/style.scss */
.addButton {
  font-size: 20px;
  padding-left: 15px;
}

/* line 178, ../sass/style.scss */
.menuPrice {
  font-size: 16px;
  text-align: right;
  padding-top: 10px;
}

/* line 184, ../sass/style.scss */
.menuExtra {
  font-size: 10px;
}

/* line 188, ../sass/style.scss */
.marginBot {
  margin-bottom: 30px;
}

/* line 192, ../sass/style.scss */
.floatRight {
  float: right;
}

@media screen and (min-width: 600px) {
  /* line 199, ../sass/style.scss */
  .logoFull {
    width: 275px;
  }

  /* line 203, ../sass/style.scss */
  .buttonLg {
    width: 400px;
    font-size: 30px;
    padding: 40px;
  }

  /* line 209, ../sass/style.scss */
  .buttonSm {
    width: 240px;
    font-size: 24px;
    padding: 18px;
  }

  /* line 215, ../sass/style.scss */
  .pageTitle {
    font-size: 40px;
    width: 40%;
    padding: 8px;
  }

  /* line 221, ../sass/style.scss */
  .dietTitle {
    font-size: 18px;
    padding: 10px;
  }

  /* line 226, ../sass/style.scss */
  .menuTitle {
    font-size: 28px;
  }

  /* line 230, ../sass/style.scss */
  .menuItem {
    font-size: 18px;
  }

  /* line 234, ../sass/style.scss */
  .addButton {
    font-size: 26px;
  }

  /* line 238, ../sass/style.scss */
  .menuPrice {
    font-size: 22px;
  }

  /* line 242, ../sass/style.scss */
  .menuExtra {
    font-size: 14px;
  }
}
@media screen and (min-width: 900px) {
  /* line 248, ../sass/style.scss */
  .logoFull {
    width: 300px;
  }

  /* line 252, ../sass/style.scss */
  .buttonLg {
    width: 300px;
    font-size: 30px;
    padding: 30px;
    margin: 50px 28px 0 28px;
  }

  /* line 259, ../sass/style.scss */
  .buttonSm {
    width: 250px;
    font-size: 24px;
  }

  /* line 264, ../sass/style.scss */
  .pageHeadings {
    position: relative;
  }

  /* line 268, ../sass/style.scss */
  .pageTitle {
    font-size: 40px;
    background-color: #FFCA08;
    padding: 8px;
  }

  /* line 274, ../sass/style.scss */
  .dietTitle {
    position: absolute;
    right: 0;
    margin-right: 8%;
  }

  /* line 280, ../sass/style.scss */
  .menuSection {
    border-left: 85px solid #FFCA08;
    border-right: 85px solid #FFCA08;
  }

  /* line 285, ../sass/style.scss */
  .menuTitle {
    font-size: 28px;
  }

  /* line 289, ../sass/style.scss */
  .menuItem {
    font-size: 18px;
  }

  /* line 293, ../sass/style.scss */
  .addButton {
    font-size: 26px;
  }

  /* line 297, ../sass/style.scss */
  .menuPrice {
    font-size: 22px;
  }

  /* line 301, ../sass/style.scss */
  .menuExtra {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */