.navbar {
    padding: 0px;
    // color: $yellowColour;
    position: fixed;
    // top: 0;
    // left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10000;
    // transition: background-color 0.25s;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
}

.navLogo {
    width: 230px;
    align-items: center;
    padding-top: 8px;
}

.headerImg {
    justify-content: center;
    position: relative;
}

.navList {
    display: none;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.listItem {
    padding: 20px;
    font-size: 20px;
    color: $yellowColour;
}

.listItemOpp {
    padding: 20px;
    font-size: 20px;
    color: $darkBlueColour;
    background-color: $yellowColour !important;
}

.navIcon {
    color: $yellowColour;
    font-size: 18px;
}

.navButton {
    color: $yellowColour;
    font-size: 20px;
}

.navFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    // border-color: $yellowColour;
    // border-width: thick;
    // border-style: solid;
}

.waiterButton {
    display: none;
    color: $yellowColour;
    font-size: 20px;
    float: left;
}

.viewOrder {
    display: none;
    width: 100%
}

.orderTitle {
    color: $yellowColour;
    font-size: 24px;
    padding: 10px 10px 0 20px;
}

.orderItemTitle {
    font-size: 14px;
    padding-top: 10px;
}

.orderItem {
    font-size: 12px;
}

.orderTotal {
    font-size: 14px;
    padding: 10px;
    text-align: right;
}

.orderSection {
    width: 100%;
    padding: 10px 10px 0 10px;
    background-color: $whiteColour;
    // color: $darkBlueColour;
    flex-direction: row;
    flex-wrap: wrap;
    // border: 50px solid $yellowColour;
    border-left: 20px solid $darkBlueColour;
    border-right: 20px solid $darkBlueColour;
    border-top: 10px solid $darkBlueColour;
}

.displayFlex {
    display: flex;
}

.placeOrderButton {
    background-color: $yellowColour;
    color: $darkBlueColour;
    width: 145px;
    padding: 10px;
}

.placeOrderFlex {
    justify-content: center;
    align-items: center;
}

.orderCloseButtonStyle {
    // display: none;
    width: 100% !important;
    padding: 10px;
    font-size: 20px;
    background-color: $yellowColour;
    color: $darkBlueColour;
}

.orderCloseButton {
    // display: none;
    text-align: center;
    padding: 20px;
}

.listStyle {
    text-decoration: none;
    &:link {
        color: $yellowColour;
    }
    &:visited {
        color: $yellowColour;
    }
    &:active {
        color: $yellowColour;
    }
}

.orderButtonsStyle {
    text-decoration: none;
    &:link {
        color: $darkBlueColour;
    }
    &:visited {
        color: $darkBlueColour;
    }
    &:active {
        color: $darkBlueColour;
    }
}

@media screen and (min-width:$mdWidth){

    .navLogo {
        width: 300px;
    }

    .listItem {
        font-size: 24px;
    }

    .listItemOpp {
        font-size: 24px;
    }

    .navButton {
        font-size: 24px;
    }

    .navIcon {
        font-size: 22px;
    }
}


@media screen and (min-width:$lgWidth){

    .waiterButton {
        display: block;
        font-size: 24px;
    }

    .navIcon {
        display: none;
    }

    .navList {
        display: block !important;
        background-color: $whiteColour !important;
        width: 80%;
        // justify-content: space-between;
        ul {
            display: flex;
            justify-content: space-around;
            .listItem {
                color: $darkBlueColour !important;
                font-size: 24px;
                padding: 5px 0 5px 0;
            }
        }}

    .listStyle {
        text-decoration: none;
        &:link {
            color: black;
        }
        &:visited {
            color: black;
        }
        &:hover {
            color: $yellowColour;
            text-decoration: underline;
        }
        &:active {
            color: black;
        }
    }

    #closeButton {
        display: none;
    }

    .waiterMenu {
        display: none;
    }

    .navbar {
        position: relative;
    }

    #navButtons {
        position: fixed;
        bottom: 0;
    }

    .navLogo {
        width: 325px;
    }

    .navButton {
        font-size: 24px;
    }

    .viewOrder {
        display: none;
        width: 50%;
        position: fixed;
        bottom: 0;
        right: 0;
    }

    .orderTitle {
        font-size: 28px;
    }

    .orderItemTitle {
        font-size: 18px;
    }

    .orderItem {
        font-size: 16px;
    }

    .orderTotal {
        font-size: 18px;
    }

    // .orderSection {
    //     width: 100%;
    //     padding: 10px 10px 0 10px;
    //     background-color: $whiteColour;
    //     // color: $darkBlueColour;
    //     flex-direction: row;
    //     flex-wrap: wrap;
    //     // border: 50px solid $yellowColour;
    //     border-left: 20px solid $darkBlueColour;
    //     border-right: 20px solid $darkBlueColour;
    //     border-top: 10px solid $darkBlueColour;
    // }

    .placeOrderButton {
        width: 175px;
        padding: 15px;
    }

    .orderCloseButtonStyle {
        font-size: 20px;
    }

}
