@import 'reset';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import 'variables';
@import 'grid';

@import 'nav';
@import 'modals';

body {
    background-color: $yellowColour;
    margin-bottom: 75px;
}

.fontSmB {
    font-family: 'Libre Franklin';
    font-weight: 600;
}

.fontMd {
    font-family: 'Libre Franklin';
    font-weight: 500;
}

.fontReg {
    font-family: 'Libre Franklin';
    font-weight: 400;
}

.fontRegIt {
    font-family: 'Libre Franklin';
    font-weight: 400;
    font-style: italic;
}

.textYellow {
    color: $yellowColour;
}

.textBlue {
    color: $darkBlueColour;
}

.textYellow {
    color: black;
}

.banner {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../images/background.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logoFull {
    width: 200px;
}

.bgBlue {
    background-color: $darkBlueColour;
}

.bgYellow {
    background-color: $yellowColour;
}

.bgWhite {
    background-color: $whiteColour;
}

.buttonLg {
    display: inline-block;
    color: $yellowColour;
    padding: 25px;
    margin-top: 50px;
    width: 270px;
    height: auto;
    text-decoration: none;
    border-radius: 5px;
    font-size: 26px;
}

.buttonSm {
    display: inline-block;
    color: $darkBlueColour;
    padding: 7px;
    margin-top: 50px;
    width: 190px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
}

.textCenter {
    text-align: center;
}

.helpIcon {
    font-size: 25px;
    text-align: left;
    padding-right: 5px;
}

.buttonRow {
    flex-direction: row;
}

.headingsBar {
    background-color: $yellowColour;
    color: black;
    flex-direction: column;
    width: 100%;
}

.pageHeadings {
    align-items: center;
    flex-direction: column;
}

.pageTitle {
    font-size: 32px;
    background-color: $whiteColour;
    width: 65%;
    padding: 8px;
}

.dietTitle {
    font-size: 16px;
    padding: 8px;
}

.menuSection {
    width: 100%;
    padding: 10px 10px 0 10px;
    background-color: $whiteColour;
    color: $darkBlueColour;
    flex-direction: row;
    flex-wrap: wrap;
    border-left: 30px solid $yellowColour;
    border-right: 30px solid $yellowColour;
}

.menuTitle {
    font-size: 20px;
    padding: 10px 10px 10px 0;
}

.menuItem {
    font-size: 12px;
    padding: 0 24px 20px 0;
}

.addButton {
    font-size: 20px;
    padding-left: 15px;
}

.menuPrice {
    font-size: 16px;
    text-align: right;
    padding-top: 10px;
}

.menuExtra {
    font-size: 10px;
}

.marginBot {
    margin-bottom: 30px;
}

.floatRight {
    float: right;
}


@media screen and (min-width:$mdWidth){

    .logoFull {
        width: 275px;
    }

    .buttonLg {
        width: 400px;
        font-size: 30px;
        padding: 40px;
    }

    .buttonSm {
        width: 240px;
        font-size: 24px;
        padding: 18px;
    }

    .pageTitle {
        font-size: 40px;
        width: 40%;
        padding: 8px;
    }

    .dietTitle {
        font-size: 18px;
        padding: 10px;
    }

    .menuTitle {
        font-size: 28px;
    }

    .menuItem {
        font-size: 18px;
    }

    .addButton {
        font-size: 26px;
    }

    .menuPrice {
        font-size: 22px;
    }

    .menuExtra {
        font-size: 14px;
    }
}

@media screen and (min-width:$lgWidth){
    .logoFull {
        width: 300px;
    }

    .buttonLg {
        width: 300px;
        font-size: 30px;
        padding: 30px;
        margin: 50px 28px 0 28px;
    }

    .buttonSm {
        width: 250px;
        font-size: 24px;
    }

    .pageHeadings {
        position: relative;
    }

    .pageTitle {
        font-size: 40px;
        background-color: $yellowColour;
        padding: 8px;
    }

    .dietTitle {
        position: absolute;
        right: 0;
        margin-right: 8%;
    }

    .menuSection {
        border-left: 85px solid $yellowColour;
        border-right: 85px solid $yellowColour;
    }

    .menuTitle {
        font-size: 28px;
    }

    .menuItem {
        font-size: 18px;
    }

    .addButton {
        font-size: 26px;
    }

    .menuPrice {
        font-size: 22px;
    }

    .menuExtra {
        font-size: 16px;
    }

}
